*{
    margin:0;
    padding:0;
}
heade{
    background-color:rgb(127, 214, 255)
    color:white;
    font-size:25px;
    display:flex;
    justify-content:space-between;
}
.cabecalho-lista{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
.cabecalho-lista-item{
    display: inline;
    justify-content: space-between;
    padding: 20px;
}
.cabecalho{
    background-color: rgb(25, 140, 155);
    color: black;
    display: flex;
    padding: 24px;
    justify-content: space-between; 
}
.cabecalho-imagem{
    width: 5%;
    height: 5%;
}
.cabecalho-imagem{
    width: 15%;
}
.cabecalho-item{
    display: inline-block;
    font-size: 30px;
    padding: 0 0 0 20px;
}
*{
    margin:0;
    padding:0;
}
.escola-escola{
    width:25%{
}
.escola{
        background-image:linear-gradient(#424e61,#16cff8);
        color:white;
        display:flex;
        justify-content: center;
        align-items: center;
        padding: 24px 0;
} 
.escola-div-conteudo{
    width:35%;
}
.escola-titulo{
    padding:24px 0;
}
body{
    font-family:'Poppins', sans-serif;
}
.estudante-imagem{
    width:120px;
    margin: auto;
}
.estudante-div{
    text-align: center;
    padding:16px 0;
}
.estudante-todos{
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}   
}.estudante-titulo{
    text-align:center;
    padding:24px 0;
}
rodape{
    background-color: blanchedalmond;
    text-align: center;
}
.rodape-image{
    height: 60px;
    padding:12px 0;
}
.aluno-todos{
    text-align:center;
    font-size: 30px;
    max-width:90%;
    max-height:90%;
    margin:auto;
}






